<tr data-id="{{1}}" class="bill-row">
  <th>{{bill_name}}</th>
  <th>
    <div id="amounts">${{amount}}</div>
  </th>
  <th position="relative">{{due_date}}
    <img class="edit-button" data-id="{{id}}" src="/assets/img/images/edit.png" width="18px">
    <img class="delete-button" data-id="{{this.id}}" src="/assets/img/images/delete.png" width="16px">
  </th>
</tr>